{% extends "base.html" %}
{% block title %}Receptionist Dashboard{% endblock %}

{% block content %}
  <h1>Receptionist Dashboard</h1>

  <div class="row">
    <div class="col-md-6">
      <div class="card bg-info text-white mb-3">
        <div class="card-body">
          <h5 class="card-title">Patients Registered</h5>
          <p class="card-text">{{ patient_count }}</p>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card bg-secondary text-white mb-3">
        <div class="card-body">
          <h5 class="card-title">Appointments Scheduled</h5>
          <p class="card-text">{{ appointment_count }}</p>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
