{% extends 'base_dashboard.html' %}
{% block title %}Add Patient{% endblock %}

{% block content %}
<div class="container mt-4">
    <h2>Add New Patient</h2>
    <form method="post">
        {% csrf_token %}
        {% for field in form %}
  <div class="mb-3">
    <label class="form-label">{{ field.label }}</label>
    {{ field }}
    {% if field.errors %}
      <div class="text-danger small">{{ field.errors }}</div>
    {% endif %}
  </div>
{% endfor %}

        <button type="submit" class="btn btn-primary">Create Patient</button>
    </form>
</div>
{% endblock %}
