{% extends "base.html" %}
{% block title %}Accountant Dashboard{% endblock %}

{% block content %}
  <h1>Accountant Dashboard</h1>

  <div class="row">
    <div class="col-md-6">
      <div class="card bg-warning text-dark mb-3">
        <div class="card-body">
          <h5 class="card-title">Total Bills</h5>
          <p class="card-text">{{ bill_count }}</p>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card bg-success text-white mb-3">
        <div class="card-body">
          <h5 class="card-title">Total Income</h5>
          <p class="card-text">${{ total_income }}</p>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
